<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST" id="valueForm">
        <label for="Xcor">X coordinate:</label><br>
        <input type="text" id="Xcor" name="Xcor"><br>
        <label for="Ycor">Y coordinate:</label><br>
        <input type="text" id="Ycor" name="Ycor"><br>
        <label for="timest">Time Stamp:</label><br>
        <input type="text" id="timest" name="timest">
    </form>

    <script src="/js/web.js"></script>
</body>
</html>